
body {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', "sans-serif";
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    text-align: center;
    padding: 0px;
}
.block {
    background: #ebebeb;
    width: 495px;
    text-align: center;
    margin: auto;
    float: left;
    margin-bottom: 10px;
}
/* section {
    padding: 20px 200px;
} */
article {
    background: #777;
    padding: 20px 100px;
    margin-left: 10px;
    margin-right: 10px;
    margin: auto;
}
.right {
    float: right;
    padding: 20px 100px;
    background: #ebebeb;
}
.inversion {
    background: #777;
    color: #ebebeb;
    margin: auto;
}
.centerLine {
    float: left;
}
.clearfix::after {
    content:"";
    display: block;
    clear: both;
}
h1 {
    color: #777;
    background: #ebebeb;
    font-size: 18px;
}
p {
    color: #777;
    background: #ebebeb;
    margin: auto;
}
.normal {
    color: #777;
    background: #ebebeb;
    margin: auto;
}